@page
@model Millionæridéen.Pages.NySide.BjørnUglebjergModel

<h1>Bjørn Uglebjerg</h1>

<p>Bjørn blev født d. 21 marts 1948, og døde den 21 juni 1994, han var dansk trommeslager. 
    Som 15 årige startede Bjørn sin karriere i det danske band The Cliffters, og senere i 1967 blev han medlem af The Hitmakers, hvor han spillede indtil 1970.
    i 1970 blev Bjørn medlem af det danske rockband Gasolin, hvor han spillede indtil 1978, og i 1980 dannede han sit eget band, Bjørn & Okay, som stadig eksisterer i dag.
</p>
