@page
@model Millionæridéen.Pages.NySide.FranzBeckerLeeModel
@{
}

<h1>Franz Beckerlee</h1>

<p>Han er født den 15 august 1942, og er dansk musikker.
    Han var guitarist i det danske rockband Gasolin, han har også spillet jazz.
    Han begyndte med saxofon som 12 årig, og fik jazzlegat i 1964 og 1968, derefter blev han en del af Gasolin, som guitarist.  
</p>

