@page
@model Millionæridéen.Pages.KimLarsenModel
<link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />

<h1>Kim Larsen</h1>

<p>Han blev født d. 23 oktober 1945, og døde d. 30 september 2018.
    Kim var sanger, sangskriver, folkeskolelære, forfatter og guitarist. 
    begyndte sin musik karriere i 1968, han blev i 1969 kendt som medlem i Gasolin, mens han var i Gasolin udgav han også soloplader.
</p>
