@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Vi indsamler oplysninger som navn og e-mail for at kunne levere vores service. Vi anvender cookies til at forbedre brugeroplevelsen. Dine oplysninger deles ikke med tredjeparter uden samtykke. Du har ret til at få indsigt i og slettet dine data. Kontakt os på [din mail] ved spørgsmål.</p>
