@page
@model Millionæridéen.Pages.NySide.WiliJønssonModel
<link rel="stylesheet" href="~/css/css.css" />

<h1>Wili Jønsson</h1>

<p>Han er født d. 27 marts 1942 på amager, han er bassist, keyboardspiller og kor sanger.
    han er kendt for sin tid som bassist for gasolin. Her blev han kaldt skeløjede halvsvensker af Kim Larsen.
    Derefter har han også spillet mange andre konstalationer.
</p>
